.App {
  /* background-color: #fefae0; */
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

:root {
  --purple: #ab8de4;
  --green: #54b79d;
  --yellow: #fadc8e;
  --grey: #959595;
  --white: #ffffff;
  --light-green: #78e4e0;
  --light-grey: #d7d7d7;
  --dark-purple: #8d70c2;

  --blue: #a7caf0;
  --dark-blue: #83addf;
  --darkest-blue: #93bee5;
  --new-yellow: #ffe05c;
  --grey: #ededed;
}
