.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homepage-left-section {
  text-align: left;
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-h1 {
  font-size: 8vh;
  color: var(--yellow-color);
  margin-bottom: 2rem;
  margin-top: 0;
}

.para-medium {
  font-size: 4vh;
  padding-bottom: 2rem;
}

.btn-section {
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: var(--new-yellow);
  border: 2px solid var(--new-yellow);
  border-radius: 5px;
  padding: 15px;
  color: black;
  font-size: 3vh;
  margin-right: 1rem;
}

.btn-primary:hover {
  background-color: var(--dark-yellow);
  border: 2px solid var(--dark-yellow);
  color: black;
  cursor: pointer;
}

.btn-secondary {
  background-color: var(--white);
  border: 2px solid var(--new-yellow);
  border-radius: 5px;
  padding: 15px;
  color: var(--white);
  color: black;
  font-size: 3vh;
}

.btn-secondary:hover {
  background-color: var(--dark-yellow);
  border: 2px solid var(--dark-yellow);
  color: black;
  cursor: pointer;
}

.homepage-cover {
  width: 50%;
  margin: 4rem;
}

footer {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
